* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit !important;
}
.container-fluid .a_drop_menu {
  background: #0e6c5a;
}
.container-fluid .a_drop_menu a:hover {
  background: #0a4e38;
}
.a_bottom .nav-item:hover {
  background: #14b2e2;
}
.content {
  background: #2b2f76;
  font-size: 13px;
  line-height: 17px;
  color: white;
  padding: 3px;
}
.a_text_1 {
  font-size: 13px;
  line-height: 30px;
  text-align: justify;
}
.a_tips_box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 0px 30px;
}
.a_sign_img {
  width: auto;
}
.a_fs_12{
    font-size: 13px;
}